@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CodingEventsDemo.Models.EventCategory>

<h1>Event Category</h1>


@if (Model.Count == 0)
{
<p>No categories yet!</p> }
            else
            {
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Contact Email
        </th>
        <th>
            Event Type
        </th>
    </tr>
    @foreach (var evt in Model)
    {
<tr>
    <td>@evt.Id</td>
    <td>@evt.Name</td>
    @*<td>@evt.Description</td>
    <td>@evt.ContactEmail</td>
    <td>@evt.Type</td>*@
</tr>}
</table>}